html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header,  menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html,
body {
    height: 100%;
    max-height: 100%;
}
body{
    background: url('../img/ababa.jpg') no-repeat;
    background-size: cover;
}
.vertical-center{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}
.pull-left {
    float:left;
}

.pull-right {
    float: right;
}
.main-content{
    width: 450px;
    height: 650px;
    background-color: #fff4e0;
    margin: 0 auto;
}

img{
    width: 80px;
    height: 80px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    padding-top: 20px;
}
input[type="text"]{
    display: inline;
    border: 0;
    border-bottom: grey 1px solid ;
    outline: 0;
    background:transparent;
}
.dropdown {
    position: relative;

    /** Make it fit tightly around it's children */
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;

    /**
     * Set the top of the dropdown menu to be positioned 100%
     * from the top of the container, and aligned to the left.
     */
    top: 100%;
    left: 0;

    /** Allow no empty space between this and .dropdown */
    margin: 0;
}
/**
 * Apply these styles to .dropdown-menu when user hovers
 * over .dropdown
 */
.dropdown:hover .dropdown-menu {

    /** Show dropdown menu */
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;

    /****************
     ** NEW STYLES **
     ****************/

    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown button {
    background: #ffffff;
    color: tomato;
    border: 1px solid grey;
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 1em;
}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: transparent;
    color: tomato;
    text-align: center;
}

/** List Item Hover Styles **/
.dropdown a:hover {
    background: transparent;
    color: tomato;
}
.btn {
    padding: 12px 16px;
    color: white;
    background-color: #c2c2c2;
    border: 1px solid #B1B1B1;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
}

.btn-primary {
    background-color: #2F90EF;
    border-color: #1061AF;
}
