<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Countries Lister</title>
    <meta name="description" content="Logs your expenses">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/normalize.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="css/site.css" rel="stylesheet" type="text/css">
</head>
<body>

	<div class="jumbotron">
		<h1>Countries Lister!</h1>
		<p>Welcome to the <b>Countries List</b> application! It was made to serve the JavaScript Session 8 - Demo and nothing else.</p>
		<p>&copy; Radu B. Gaspar</p>
		<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
	</div>
	<nav class="navbar navbar-default" role="navigation">
		<a class="navbar-brand" href="#"><b>API</b>: You may execute the following:</a>
	</nav>
    <div class="main">
		<ul class="nav nav-stacked">
			<li><h4><span class="label label-danger">GET</span><span class="label label-primary">/countries</span></h4></li>
			<li><h4><span class="label label-danger">GET</span><span class="label label-primary">/countries/:code</span></h4></li>
			<li><h4><span class="label label-danger">POST</span><span class="label label-primary">/countries</span></h4></li>
			<li><h4><span class="label label-danger">DELETE</span><span class="label label-primary">/countries/:code</span></h4></li>
		</ul>
	</div>

	<script type="text/javascript" src="js/vendor/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>
