* {
  margin: 0;
  padding: 0;
}
.right-content {
  color: #555555;
  /*font-weight: 400;*/
  font-family: 'Kanit', sans-serif;
  height: 500px;
  width: 42%;
  float: left;
  padding-left: 50px;
  padding-top: 80px;
}
.first {
  font-size: 30px;
  font-weight: 500;
}
.second {
  font-size: 15px;
  font-weight: 150;
  color: #888888;
}
.third {
  font-size: 40px;
  font-weight: 200;
  color: #888888;
}
.fourth {
  font-size: 15px;
  font-weight: 400;
}
.add {
  background: #fff;
  border: 1px solid #DADADA;
  padding: 10px 30px;
  font-weight: 400;
  color: #AFA8AC;
  margin-right: 2%;
}
.wishlist {
  background: #fff;
  border: 1px solid #DADADA;
  padding: 10px 30px;
  font-weight: 400;
  color: #AFA8AC;
  margin-right: 2%;
}
