* { margin: 0; padding: 0; font-family: Verdana, Arial; font-size: 12px; text-decoration: none; }
h2 { font-size: 16px; }
.content { padding: 10px; }
ul { margin: 10px 20px 0 0; list-style-type: none; list-style: none; }
li { padding: 5px 20px; }
li:hover { background: blanchedalmond; }
a, a:visited { color: blue; }
a span.details { color: black; }