body {
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
}

.row {
  margin-bottom: 20px;
}

[class^="col-"],
[class*=" col-"] {
  min-height: 150px;
  background-color: #c2c2c2;
}

[class^="col-"],
[class*=" col-"] {
  padding-left: 10px;
  padding-right: 10px;
}


/* Grid with transparent gutter */
/*.row {
  margin-left: -10px;
  margin-right: -10px;
}

[class^="col-"],
[class*=" col-"] {
  margin-left: 1%;
  margin-right: 1%;
}

.col-25 {
  width: 23%;
}*/

.navigation-bar {
  min-height: 40px;
}

.navigation-bar a {
  text-decoration: none;
}

.navigation-bar .brand {
  float: left;
  padding-left: 10px;
  font-size: 20px;
  line-height: 40px;
}

.navigation {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.navigation > li {
  display: block;
  float: left;
  /*display: inline-block;*/
}

.navigation > li a {
  display: block;
  /*margin-right: 15px;*/
  padding: 12px 10px;
  /*line-height: 40px;*/
  transition: background-color .4s ease;
  /*transition: background-color .4s ease, color .3s ease-in;*/
}

.navigation > li a:hover {
  background-color: tomato;
  color: white;
}

.navigation > li a:active,
.navigation > li a.active {
  background-color: #FF2F0A;
  color: white;
}

.pull-right {
  float: right;
}
